.aboutboard{
  position: relative;
  
  img{
      width: 100%
    }

   .big{
     text-shadow: -3px -3px 4px rgba(0, 0, 0, .9);
     border: red 1px solid;
      font-size: 5rem;
      font-weight: bold;
      color: @white;
      position:absolute;
      bottom: 60px;        
      left: 8%;
      h4{
        font-size: 6.4rem;
        font-weight: bold;
        color: @white;
      }
   }
 }

 .about{

  h3{
    color: @charcoal;
    font-size: 2.5rem;
    font-weight: 1000;
    margin-top: 50px;
  }

  .form{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 80%;
   background: @navbargray;
   padding: 20px;
   border-radius: 5px;
   margin-bottom: 30px;
   margin-top: 30px;
   opacity: .8;
   
   h3{
      margin: auto;
      margin-top: 15px;
    }

    p{
      margin: 5px;
      margin-top: 10px;
    }
 
    form{
     display: flex;
     flex-direction: column;
     justify-content: center;
      margin-top: 20px;
      margin-bottom: 20px;

      input{
        width: 92%;
      }

      textarea{
       font-family: Roboto, Arial, sans-serif;
       font-size: 16px;
       width: 98%;
      }

      button{
        margin: auto;
        width: 30%;
        margin-top: 20px;
        font-size: 1.5rem;
        height: 30px;
        border-radius: 3px;
      }
     }
    }
 
    
  .locations{
  display: flex;
  margin-bottom: 20px;
  }

  .spot{
    width: 33%;
    margin: auto;
 
    img{
      width: 100%;
      height: 200px;
       }
   h4{
     font-weight: bold;
     font-size: 2rem;
     margin-bottom: 5px;
    }
    p{
    font-size: 1.5rem;
    color: @gray;
   }
 }

   @media(max-width: 700px){
    .locations{
      display: flex;
      flex-direction: column;

      .spot{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;
        margin-bottom: 15px;
         img{
           width: 100%;
          height: 230px;
          margin: auto; 
         }
       }
    }
  }

  @media(max-width: 500px){
    
    .form{
      margin: auto;
      display: flex;
      flex-direction: column;
      width: 100%;
     background: @navbargray;
     padding: 15px;
     border-radius: 0;
     margin-bottom: 30px;
     margin-top: 30px;
     opacity: .8;

     form{
       margin-top: 20px;
       margin-bottom: 20px;
       width: 95%;
     }
    }
    
    .locations{
      display: flex;
      flex-direction: column;

      .spot{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin-bottom: 15px;
         img{
           width: 100%;
          height: 230px;
          margin: auto; 
         }
         .address{
           margin-left
         }
       }
    }
  }



}
 