footer{
  background: @footergray;
  color: @white;
  padding: 10px;
  padding-top: 6rem;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-bottom: 0;
  border-top: @charcoal 1px solid;
  h5{
    font-size: 2rem;
    font-weight: bold;
  }
  p{
    text-align: center;
    font-size: 1.2rem;
  }
}

.container{
  display: flex;
  p{
    text-align: left;
  }
}

.form{
  width: 50%;
  input{
    width: 50%;
    padding: 1.5rem;
    border-radius: 5px;
    margin-bottom: 5px;
  }
}

.smallbox{
  width: 20%;
  margin: 2rem;
  line-height: 2rem;
  margin-top: 0;
}
.newyork{

}

@media(max-width: 800px){footer{
  margin: 0;
  padding: 20px;

.container{
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0;
  .form{
    width: 100%;
    margin: auto;
    margin-left: 20px;
  margin-bottom: 10px;
  line-height: 2.3rem;
  h5{
    margin-bottom: 10px;
  }
  input{
    font-size: 1.6rem;
  }
  }
  .smallbox{
    width: 100%;
    margin-top: 10px;
    }
  }
}
}